body{
    font-size: 45px;
    height:750px;
    background-color:#1c1d25;

}
.navbar-collapse{

    display: flex;
  justify-content: flex-end;
  
}
.nav-item{
    padding: 40px;
}
.navbar{
    height:60px;
    background-color: blueviolet;
    
}
.below-nav{
    
    
}