body {
    background: linear-gradient(to right, #acb6e5, #86fde8);    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
@font-face {
    font-family: 'Google';
    src: url("/assets/fonts/googlesans.ttf");
}
.welcome {
    font-family: 'Google';
}
@media (min-width: 992px){
    .navbar li {
        margin-left : 0.5em;
        margin-right : 0.5em;
    }
}